<!-- Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

<!-- Site JS -->
<script src="{{ '/assets/js/site.js' | absolute_url | append: debugTag }}"></script>
<script src="{{ '/assets/js/custom-site.js' | absolute_url | append: debugTag}}"></script>
{%- for extrajsfile in layout.extra_js %}
<script src="{{ '/assets/js/' | absolute_url }}{{ extrajsfile | append: debugTag }}"></script>
{% endfor -%}
{%- for extrajsfile in page.extra_js %}
<script src="{{ '/assets/js/' | absolute_url }}{{ extrajsfile | append: debugTag }}"></script>
{% endfor -%}
