{%- comment -%}
<!--
  ----------------------------------------------------------------------------
  This will generate a bootstrap menu based on the data in the `_data/nav.yml`
  file.
  ----------------------------------------------------------------------------
-->
{%- endcomment -%}

{%- assign headerclass = site.data.globals.headerclass -%}
{%- unless headerclass -%}
  {%- assign headerclass = "navbar-dark bg-primary" -%}
{%- endunless -%}
{%- assign _nbl = site.data.navbar.no_brand_link %}
{%- if _nbl -%}{%- assign brand_link = false -%}{%- else -%}{%- assign brand_link = true -%}{%- endif -%}

{%- if site.data.navbar.menu -%}
<header class="{{ headerclass }}" id="header">
  <div class="{{ site.data.globals.navbarclass }}">
    <div class="container">
      <nav id="main-menu" class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <{% if brand_link %}a{% else %}div{% endif %} class="navbar-brand" href="{{ '/' | absolute_url }}">
          {% assign brand_logo = site.data.globals.brand.logo %}
          {% for static_file in site.static_files %}{% if static_file.path == brand_logo %}
          {% if brand_logo %}<img src="{{ brand_logo | absolute_url | append: debugTag }}" width="30" height="30" alt="">{% endif %}
          {% endif %}{% endfor  %}
          {% assign brand_name = site.data.globals.brand.name %}
          {% if !brand_name %}{% assign brand_name = site.title | default: site.github.repository_name %}{% endif %}
          {% if brand_name %}{{ brand_name }}{% endif %}
        </{% if brand_link %}a{% else %}div{% endif %}>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {% for item in site.data.navbar.menu %}
              {% if item.items[0] == null %}
                {%- comment -%}<!--
                
                  ****************************
                  Single item
                  ****************************

                -->{%- endcomment -%}
                <li class="nav-item {% if forloop.first %} first{% endif%}{% if forloop.last %} last{% endif %}{% if forloop.length == 1 %} only{% endif %}{% if page.active == item.active %} active{% endif %}">
                  <a class="nav-link {% if item.class != nil %}{{ item.class }}{% endif %}" href="{{ item.url | absolute_url }}" {% if item.hint != nil %} title="{{ item.hint }}" {% endif %} id="nav-link-{{ forloop.index }}">
                    {% if item.fa != nil %}
                      <i class="fas fa-{{ item.fa }} fa-fw"></i>
                    {% elsif item.svg != nil %}
                      <svg class="fa fa-fw"><use xlink:href="#{{ item.svg }}" /></svg>
                    {% endif %}
                    {{ item.title }}
                  </a>
                </li>
              {% else %}
                {%- comment -%}<!--
                  
                  ****************************
                  Dropdown item
                  ****************************

                -->{%- endcomment -%}
              <li class="nav-item dropdown {% if forloop.first %} first{% endif%}{% if forloop.last %} last{% endif %}{% if forloop.length == 1 %} only{% endif %}{% if page.active == item.active %} active{% endif %}">
                  <a class="nav-link dropdown-toggle {% if item.class != nil %}{{ item.class }}{% endif %}" data-toggle="dropdown" href="{{ item.url | absolute_url | default '#' }}" id="nav-link-{{ forloop.index }}">
                    {% if item.fa != nil %}
                      <i class="fas fa-{{ item.fa }}"></i>
                    {% elsif item.svg != nil %}
                      <svg class="fa fa-fw"><use xlink:href="#{{ item.svg }}" /></svg>
                    {% endif %}
                    {{ item.title }}
                  </a>
                  <ul class="dropdown-menu">
                    {% assign parent_index = forloop.index %}
                    {% for sub_item in item.items %}
                      {%- comment -%}<!--
                        ********** Sub_items **********
                      -->{%- endcomment -%}                    
                      <li class="{% if forloop.first %} first{% endif%}{% if forloop.last %} last{% endif %}{% if forloop.length == 1 %} only{% endif %}">
                        {% if sub_item.title != "---" %}
                          <a href="{{ sub_item.url | absolute_url }}"
                            id="nav-link-{{ parent_index }}-{{ forloop.index }}"
                            class="dropdown-item
                              {% if sub_item.class != nil %}{{ sub_item.class }}{% endif %}
                              {% if page.active_sub %}
                                {% if page.active_sub == sub_item.active %} active{% endif %}
                              {% endif %}
                          ">
                            {% if sub_item.fa != nil %}
                              <i class="fas fa-fw fa-{{ sub_item.fa }}"></i>
                            {% elsif sub_item.svg != nil %}
                              <svg class="fa fa-fw"><use xlink:href="#{{ sub_item.svg }}" /></svg>
                            {% endif %}
                            {{ sub_item.title }}
                          </a>
                        {% else %}
                          <div class="dropdown-divider {% if forloop.first %} first{% endif%}{% if forloop.last %} last{% endif %}{% if forloop.length == 1 %} only{% endif %}"></div>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}

          </ul>
          {% assign contact_url = site.data.navbar.contact_url | default: site.data.globals.contact_url %}
          {% if !contact_url %}
          <div class="form-inline my-2 my-lg-0">
            <a href="{{ contact_url | absolute_url }}" class="btn btn-outline-success my-2 my-sm-0">Contact Us <i class="fas fa-phone"></i></a>
          </div>
          {% else %}
            {% if site.show_downloads %}
              <div class="form-inline my-2 my-lg-0 btn-group">
                <a href="{{ site.github.zip_url }}" class="btn btn-info my-2 my-sm-0"><i class="fas fa-file-download"></i> .zip</a>
                <a href="{{ site.github.tar_url }}" class="btn btn-info my-2 my-sm-0"><i class="fas fa-file-archive"></i> .tar.gz</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
</header>
{%- endif -%}
